{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="page-width account-template">
  {% render 'account-menu' %}

  <div class="account-template__content">
    <div class="main-address-header" data-address>
      <h1>{{ 'customer.account.title' | t }}</h1>
    </div>
    {% render 'subscription-account' %}

    <div>
      <h2>{{ 'customer.orders.title' | t }}</h2>


    </div>

    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
<!-- Begin ReCharge code -->
<p id="rc_link_container">
    <a href="/tools/recurring/login">Manage Subscriptions</a>
</p>
<!-- End ReCharge code -->

    </div>

  </div>
</div>
