{% if section.settings.timer != blank %}
  <script src="{{ 'timer.js' | asset_url }}" defer="defer"></script>
{%  endif %}

<div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}">
  <div class="container container__announcement-bar">
    {% if section.settings.timer != blank %}
      <div class="announcement-timer hidden" data-timer="{{ section.settings.timer }}">
          <div class="timer__items">
            <div class="timer__item timer__days">0</div>
            <div class="timer__item timer__hours">0</div>
            <div class="timer__item timer__minutes">0</div>
            <div class="timer__item timer__seconds">0</div>
          </div>
      </div>
    {%  endif %}

    {% if section.settings.content != blank %}
      <div class="announcement-message">
        {{ section.settings.content }}
      </div>
    {% endif %}

    <div class="announcement-btn">
      {% if section.settings.button_url != blank %}
        <a href="{{ section.settings.button_url }}" class="primary-button">{{ section.settings.button_text }}</a>
      {% endif %}
      <button type="button" class="close-button" aria-label="{{ 'accessibility.close' | t }}">
        {%  render 'icon-close' %}
      </button>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "settings": [
    {
      "type": "text",
      "id": "timer",
      "label": "Timer",
      "info": "2023, 08, 01"
    },
    {
      "type": "richtext",
      "id": "content",
      "default": "<p>Welcome to our store</p>",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
    },
    {
      "type": "text",
      "id": "button_text",
      "default": "Shop Now",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link"
    }
  ]
}
{% endschema %}
